@model MasterCRUDResumeManager.Models.Applicant

@{
	ViewData["Title"] = "Create";
}

<div class="col-11 mx-auto pt-0 p-0">
	<div class="card">
		<div class="card-header bg-success text-uppercase text-white" style="height:45px;">
			<h4>Create Applicant</h4>
		</div>
		<form id="ApplicantForm" enctype="multipart/form-data" asp-action="Create">
			<div class="row">
				<div class="col-md-6">
					@* <form asp-action="Create">*@
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Gender" class="control-label"></label>
						<input asp-for="Gender" class="form-control" />
						<span asp-validation-for="Gender" class="text-danger"></span>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Age" class="control-label"></label>
						<input asp-for="Age" class="form-control" />
						<span asp-validation-for="Age" class="text-danger"></span>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Qualification" class="control-label"></label>
						<input asp-for="Qualification" class="form-control" />
						<span asp-validation-for="Qualification" class="text-danger"></span>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="TotalExperience" class="control-label"></label>
						<input asp-for="TotalExperience" class="form-control" />
						<span asp-validation-for="TotalExperience" class="text-danger"></span>
					</div>
				</div>

				@*
				<div class="col-md-6 btn-group">
				<div class="form-group ">
				<label asp-for="ProfilePhoto" class="control-label"></label>
				<div class="custom-file">
				<input asp-for="ProfilePhoto" type="file" class="custom-file-input" id="customFile" multiple="" lang="ar"
				onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0])" aria-label="Upload">

				<label class="custom-file-label text-left" for="customFile">Choose file</label>
				</div>

				<span asp-validation-for="PhotoUrl" class="text-danger"></span>
				</div>
				
				---Set2----------
				<div class="col-md-6 btn-group">
					<div class="form-group col-8 p-0">
						<div class="col-md-4">
							<div class="custom-file">
								<input asp-for="ProfilePhoto" type="file" class="custom-file-input" id="customFile" multiple="" lang="ar"
											 onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0])" aria-label="Upload">
								<label class="custom-file-label text-left" for="customFile">Choose file</label>
							</div>
							<span asp-validation-for="ProfilePhoto" class="text-danger"></span>
						</div>

						<div class="form-group col-4">
							<img id="PreviewPhoto" src="~/images/noimage/blank-profile.png" alt="Logo Image"
								 width="125" height="125" style="border:1px;margin-top:20px;" />
						</div>
					</div>
				</div>
				*@

				@*
				<div class="col-md-6 btn-group">
					<div class="form-group">
						<div class="col-md-4">
							<div class="custom-file d-flex flex-row-reverse">
								<input type="file" class="custom-file-input" id="customFile" multiple="" lang="ar">
								<label class="custom-file-label text-left" for="customFile">Choose file</label>
							</div>
						</div>
					</div>
				</div>
				*@

				<div class="col-md-6 btn-group">
					<div class="form-group col-8 p-0">
						<label asp-for="ProfilePhoto" class="control-label"></label>
						<div class="custom-file">
							<input asp-for="ProfilePhoto" class="custom-file-input" id="customFile"
								   onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0])" aria-label="Upload"/>
						</div>
						<span asp-validation-for="ProfilePhoto" class="text-danger"></span>
					</div>

					<div class="form-group col-4">
						<img id="PreviewPhoto" src="~/images/noimage/blank-profile.png" alt="Logo Image"
							 width="125" height="125" style="border:1px;margin-top:20px;margin-left:10px;" />
					</div>
				</div>
				
				<div class="col-md-12">
					<h6 style="font-weight:bold;">Experience Details :</h6>
					<table id="ExpTable" class="table table-striped table-sm">
						<thead>
							<tr>
								<th>
									Company Name
								</th>
								<th>
									Desigantion
								</th>
								<th>
									Years Worked
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@*@foreach(var item in Model.Experiences)*@
							@for (int i = 0; i < Model.ExperiencesList.Count; i++)
							{
								<tr>
									<td>
										@*<input asp-for="@item.CompanyName" class="form-control"*@
										@*Html.EditorFor(x=>x.Experience[i].CompanyName,new{htmlattributes = new{@class = "form-control"}})*@
										<input asp-for="@Model.ExperiencesList[i].CompanyName" class="form-control">
									</td>
									<td>
										@*<input asp-for="@item.Designation" class="form-control"*@
										@*Html.EditorFor(x=>x.Experience[i].CompanyName,new{htmlattributes = new{@class = "form-control"}})*@
										<input asp-for="@Model.ExperiencesList[i].Designation" class="form-control">
									</td>
									<td>
										@*<input asp-for="@item.Designation" class="form-control"*@
										@*Html.EditorFor(x=>x.Experience[i].CompanyName,new{htmlattributes = new{@class = "form-control"}})*@
										<input asp-for="@Model.ExperiencesList[i].YearsOfWorked" class="form-control">
										<span asp-validation-for="@Model.ExperiencesList[i].YearsOfWorked" class="text-danger"></span>
									</td>
									<td>
										<button id="btndummy-@i" type="button" class="btn btn-sm invisible">Dummy</button>

										<button id="btnadd-@i" type="button" class="btn btn-sm btn-secondary visible"
												onclick="AddItem(this)"
												style="left:90%;position:absolute;">
											Add
										</button>
										<button id="btnremove-@i" type="button" class="btn btn-sm btn-danger invisible"
												onclick="DeleteItem(this)"
												style="left:90%;position:absolute;">
											Delete
										</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>

				<input type="hidden" id="hdnLastIndex" value="0"/>

				<div class="col-12">
					<!-- ... (other form elements) ... -->
					<div class="row justify-content-lg-center">
						<div class="col-md-6 form-group text-left p-2">
							<a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
						</div>
						<div class="col-md-6 form-group text-right p-2">
							<input type="submit" value="Create" class="btn btn-primary" />
						</div>
					</div>

				</div>

			</div>
		</form>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
<script>
	$(".custom-file-input").on("change", function () {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});

	function DeleteItem(btn) {
		//debugger
		//alert("not ok");
		$(btn).closest('tr').remove();
	}
	function AddItem(btn) {
		//Table
		var table = document.getElementById("ExpTable");

		//Get Rows of Table
		var rows = table.getElementsByTagName("tr");

		//Get OuterHtml of Last Row of our Table
		var rowOuterHtml = rows[rows.length - 1].outerHTML;


		//last row index
		var lastrowIdx = document.getElementById("hdnLastIndex").value;

		var nextrowIdx = eval(lastrowIdx) + 1;

		document.getElementById("hdnLastIndex").value = nextrowIdx;

		rowOuterHtml = rowOuterHtml.replaceAll("_" + lastrowIdx + "_", "_" + nextrowIdx + "_");
		rowOuterHtml = rowOuterHtml.replaceAll("[" + lastrowIdx + "]", "[" + nextrowIdx + "]");
		rowOuterHtml = rowOuterHtml.replaceAll("-" + lastrowIdx, "-" + nextrowIdx);

		//Insert a new row and attach the row to our Table
		var newRow = table.insertRow();
		newRow.innerHTML = rowOuterHtml;

		var btnAddID = btn.id;
		console.log(btnAddID);
		var btnDeleteid = btnAddID.replaceAll("btnadd", "btnremove");
		console.log(btnDeleteid);

		var delbtn = document.getElementById(btnDeleteid);
		delbtn.classList.add("visible");
		delbtn.classList.remove("invisible");

		var addbtn = document.getElementById(btnAddID);
		addbtn.classList.remove("visible");
		addbtn.classList.add("invisible");
	}
</script>